.articulo img {
    width: 240px;
    transition: transform 0.3s ease;
}

.articulo-img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.articulo {
    border: 1px solid black;
    padding: 3rem 1rem;
    width: 300px;
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.432);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulo:hover {
    cursor: pointer;
}

span {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size:18px;
    margin-bottom: 20px;
    margin-top: 12px;
}

h3 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: #121420;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #0056b3;
}

button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    text-decoration: none;
}